body{
    background-color:wheat;
}
ul{
   list-style:none;
}
.menu {
    margin-top: -0.5%;
    width: 100%;
    height: 100px;
    background-color: black;
}

.menu .text {
        padding-left: 60%;
        letter-spacing: 2px;
        margin-left:4px;
    }

.text a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
    padding-right: 0px;
    padding-left: 85px;
}

.menu a:hover {
    color: salmon;
}

#headerp1 {
    margin-top: 0%;
    font-size: 30px;
    text-align:left;
    margin-top:-2%;
}

.header{
    background-color:black;
}

#headerp1:hover{
    color:yellow;
}
.header p{
    font-family:'Brush Script MT';
    font-weight:600;
    font-size:18px;
    letter-spacing:1px;
    padding-left:30px;
    color:white;
}

.contents {
    padding-top:1em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width:100%;
}

.contents .text:hover{
    color:yellow;
}
.contents .text{
    background-color:black;
    margin-top:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-right: 1px solid salmon;
    border-bottom: 1px solid salmon; 
    width:100%;
    color:white;
    justify-content:space-between;
}


input[type='submit'] {
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 35%;
    width: 30vw;
    font-size: 20px;
    border-width:3px;
    border-color:silver;
}

input[type='submit']:hover{
    background-color:salmon;
    color: black;
}