* {
    transition-duration: .5s;
    transition-timing-function: ease;
}

body {
    background-color: wheat;
}
 
.menu {
    margin-top: -0.5%;
    width: 100%;
    height: 100px;
    background-color: black;
}

    .menu .text {
        padding-left: 60%;
        letter-spacing: 2px;
        margin-left:4px;
    }

.text a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
    padding-right: 0px;
    padding-left: 85px;
}

.menu a:hover {
    color: salmon;
}

#headerp1 {
    margin-top: 0%;
    font-size: 30px;
    text-align: left;
    margin-top: -2%;
}

.header {
    background-color: black;
}

#headerp1:hover {
    color: yellow;
}

.header p {
    font-family: 'Brush Script MT';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 30px;
    color: white;
}

h1{
    text-align:center
}

.head {
    width: 100%;
    justify-content: space-between;
}

.head .text{
    color:white;
    text-align:center;
    background-color:black;
}

.image-container {
    position: absolute;
    display: flex;
    margin: 0px 20px;
    flex-wrap: wrap;
    background-color:black;
}

img.medium {
    transform: scale(1.1);
    cursor: zoom-in;
    position: fixed;
    display: block;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top:-10%;
}

img.large {
    cursor: zoom-in;
    position: fixed;
    display: block;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: -10%;
}

img.fullscreen {
    cursor: zoom-out;
    position: fixed;
    display: block;
    width: 100%;
    height:100%;
    margin-left: 0%;
    top: 0%;
}

i.first {
    content: url(icons/first.png);
    padding: 10px;
    align-content: center;
    width: 1rem;
    height: 1rem;
}

i.previous {
    content: url(icons/Previous.png);
    padding: 10px;
    align-content: center;
    width: 1rem;
    height: 1rem;
}

i.zoom {
    content: url(icons/zoom.png);
    padding: 10px;
    align-content: center;
    width: 1rem;
    height: 1rem;
}

i.next {
    content: url(icons/Next.png);
    padding: 10px;
    align-content: center;
    width: 1rem;
    height: 1rem;
    color:black;
}

i.last {
    content: url(icons/Last.png);
    padding: 10px;
    align-content: center;
    width: 1rem;
    height: 1rem;
}

.overlay {
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(251, 251, 251, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .0s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 150px;
}

.image-button {
    position: absolute;
    top: 17.5%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

    .image-button img {
        padding: 10px;
        align-content: center;
        width: 1rem;
        height: 1rem;
    }

.container {
    top: 25%;
    position: relative;
    top: 25%;
    width: 17.5%;
    height: auto;
    border-radius: 5px;
    margin-left: 27.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
