
@media print {
    body *{
        visibility:hidden;
    }
    
    .print, .print *{
       visibility:visible;
    }
    .print{
        position:absolute;
        left:0px;
        right:0px;
    }
}
body{
    background-color:wheat ;
}

.menu{
    margin-top:-0.5%;
    width:100%;
    height:150px;
    background-color:black;
}

.menu .text {
        padding-left:60%;
        letter-spacing:2px;
}

.menu .text a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
    padding-right: 0px;
    padding-left: 85px;
}

#headerp1 {
    margin-top: 0%;
    font-size: 30px;
    text-align: left;
    margin-top: -2%;
}

.header1 {
    background-color: black;
}

#headerp1:hover {
    color: yellow;
}

.header1 p {
    font-family: 'Brush Script MT';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 30px;
    color: white;
}

.menu a:hover{
    color:salmon;
}
.header{
    padding-top:10px;
    height:200px;
    width:100%;
    background-color:salmon;
    text-align:center;
}
.header h1{
    font-family:Arial;
    letter-spacing:2px;
}
.header p{
    font-family:'Brush Script MT';
    font-weight:600;
    font-size:18px;
    letter-spacing:1px;
    padding-left:30px;
}
#headerp{
    font-size:30px;
}
#Member{
    width:20%;
    height:100%;
    margin:-20% -76.5% 1% 0px; 

}
.skill:hover{
    color:yellow;
}
.skill {
    border-right: 1px solid silver;
    padding:15px;
    grid-area: a;
    height: 200px;
    font-family: Arial;
}

.qual:hover{
    color:yellow;
}
.qual {
    border-right: 1px solid silver;
    padding: 15px;
    grid-area: b;
    height: 200px;
    font-family: Arial;
}
.exp:hover{
    color:yellow;
}
.exp {
    grid-area: c;
    padding: 15px;
    height: 200px;
    font-family: Arial;
}
.container {
    grid-area: d;
}
li{
    list-style:none;
    font-weight:200;
    font-size:17px;
}
.p{
    padding-top:50px;
    border:none;
    display:grid;
    grid-template-areas:
        'a a a b c c';
    width:100%;
    margin:auto;
    color:white;
    height:300px;
    background-color:black;
}
.project {
    grid-area: eh;
    text-align:center;
}
.lab1:hover{
    color:salmon;
}
.lab2:hover{
    color:white;
}
.lab3:hover {
    color: white;
}
.lab4:hover {
    color: salmon;
}
.lab5:hover {
    color: salmon;
}
.lab6:hover {
    color: white;
}
.lab1 {
    grid-area: e;
    border-right: 1px solid salmon;
    border-bottom: 1px solid salmon;
    background-color: black;
    color:white;
}
.lab2 {
    grid-area: f;
    border-left: 1px solid salmon;
    border-bottom: 1px solid salmon;
     background-color: salmon;
}
.lab3 {
    grid-area: g;
    border-right: 1px solid salmon;
    border-bottom: 1px solid salmon;
    background-color:salmon;
}
.lab4 {
    grid-area: h;
    border-left: 1px solid salmon;
    border-bottom: 1px solid salmon;
    background-color:black;
    color:white;
}
.lab5 {
    grid-area: i;
    border-right: 1px solid salmon;
    border-bottom: 1px solid salmon;
    background-color: black;
    color:white;
}
.lab6 {
    grid-area: j;
    border-left: 1px solid salmon;
    border-bottom: 1px solid salmon;
    background-color:salmon;
}
.container {
    border: none;
    display: grid;
    grid-template-areas: 'eh eh eh eh eh eh' 'e e e f f f' 'g g g h h h' 'i i i j j j';
    max-width: 1220px;
    grid-gap:2px;
    margin: auto;
    font-family:Arial;
    font-size:20px;
}
.container h3{
    text-align:center;
}
.container p{
    text-align:justify;
    font-size:20px;
    padding:10px;
}
img{
    padding-left:3em;
    width:500px;
    height:250px;
}

.p1{
    font-size:12px;
}
button {
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 40%;
    width: 20vw;
    font-size: 20px;
    border-width: 3px;
    border-color: silver;
}
button:hover{
    background-color:salmon;
}